@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply bg-slate-800;
}

.outlineBtn {
  @apply bg-white text-black p-2 rounded-2xl opacity-90 outline outline-1 outline-gray-600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
